* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  :root{
    font-family: "Rubik", sans-serif;
  }
  body {
    font-family: "Rubik", sans-serif;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .container{
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }